<div id="container">

  <h2><span style="color:#ff6e00">Wafflestudio</span> 8기 리크루팅</h2>
<!--  <div class="box">
  <h3>지원서 접수 기간이 종료되었습니다.</h3>
  <h3>면접 일정은 추후 공지 예정입니다.</h3>
  <h4>문의: master@wafflestudio.com</h4>
  </div> -->
  <!--
  <div class="box" id="intro">
		<p>
			맛있는 웹을 향한 열정! 와플스튜디오에서 <b>6기 신입회원</b>을 모집합니다!
		</p>
		<p>
			와플스튜디오는 대학생 웹 서비스 개발팀으로써, 신선하고 재미있는 웹서비스를 개발 및 서비스 하는데에 그 목적을 둔 사람들의 모임입니다.
			</p>
			<p>
			평소 재미있는 서비스 아이디어가 있으셨나요? <br />
			와플스튜디오의 서비스를 나의 더 멋진 아이디어로 개선시켜 보고 싶진 않으셨나요? <br />
			다른 사람들이 내가 만든 서비스를 쓰는 보람을 느끼고 싶으신가요? <br />
		</p>
		<p>
			와플스튜디오는 재밌는 서비스를 만들어보고 싶은 도전정신과 지칠줄 모르는 열정을 가진 이들이라면 누구나 환영합니다. 
			</p>
			<p>
			여러분의 맛있는 웹은 무엇인지, 와플스튜디오가 얼마나 더 맛있어질 수 있는지 궁금합니다. <br />이번 6기 리크루팅에 여러분들의 많은 성원 바랍니다.
		</p>
-->
		<p>
		안녕하세요. 맛있는 웹을 만드는 동아리, <b>와플스튜디오</b>입니다. 
		<br/><br/>
		와플스튜디오는 대학생 웹개발 동아리로, 재미있고 톡톡튀는 아이디어를 가지고 함께 웹서비스를 만들고 이를 서비스 단계에 올려놓는 것을 목표로 합니다. 
		<br/>
		</p>
		<p>
		우리가 만든 대표적인 서비스들에는 서울대학교 강의평가 서비스 'SNUEV'와 
		아이폰용 및 안드로이드용으로 모두 나와있는 모바일앱 '서울대학교'가 있습니다. 
		<br/>
		또한 이외에도 재미있고 유용한 많은 서비스들을 계획하고 만들고 있습니다. 현재 와플스튜디오는 다양한 학교 학생들로 구성되어 있으며 앞으로 여러 대학들을 위한 서비스를 기획하고 제공할 예정입니다.
		</p>
		<p>
		웹서비스를 개발하는 대학생들의 모임이라고 해서 프로그래머들로만 구성된 것은 아닙니다. 
		<br/>
		하나의 웹서비스는 새로운 기획으로부터 시작되어 디자인과 개발을 거쳐 탄생합니다. 
		<br/>
		우리 와플스튜디오는 이러한 과정을 통해 그동안 많은 웹서비스를 만들어왔으며 
		<b>기획자</b>, <b>디자이너</b>, <b>개발자</b> 모두를 모집하고 있습니다.
		</p>
		<p>
		번뜩이는 아이디어들이 흘러 넘치신다면, <br/>
		새롭고 재미있는 것을 만들어보고 싶으시다면, <br/>
		제2의 트위터, 페이스북을 꿈꾸신다면, <br/>
		<br/>
		<b>와플스튜디오가 바로 여러분이 있어야 할 곳입니다. </b>
		</p>
		<p>
		<br/>
		<b>여러분의 맛있는 웹은 무엇인지, 여러분과 함께하는 와플스튜디오가 얼마나 더 맛있어질 수 있을지 궁금합니다.</b> <br/>
		<br/>
		<b>이번 8기 리크루팅에 여러분들의 많은 성원 바랍니다 ! ^-^* </b>

		</p>
		<br/>

		<p>
		<h3>* 그간 와플스튜디오의 행적들</h3>
		<p>
		<b>팀 프로젝트</b><br/>
		<a href="http://www.snuev.com">서울대학교 강의평가 SNUEV</a><br/>
		<a href="http://play.google.com/store/apps/details?id=com.wafflestudio.snuapp&feature=search_result#?t=W251bGwsMSwyLDEsImNvbS53YWZmbGVzdHVkaW8uc251YXBwIl0.">서울대학교 앱(안드로이드)</a><br/>
		<a href="http://itunes.apple.com/kr/app/id480622894">서울대학교 공식 앱(iOS)</a><br/>
		<a href="http://play.google.com/store/apps/details?id=kr.ac.snu.mobile&feature=search_result#?t=W251bGwsMSwyLDEsImtyLmFjLnNudS5tb2JpbGUiXQ..">서울대학교 공식 앱(안드로이드)</a><br/>
		<a href="http://www.snudeclare.com">서울대학교 시국선언</a><br/>
		</p>
		<p>
		<b>개인 프로젝트</b><br/>
		<a href="http://www.baptong.com">서울대학교 밥집 찾기 '밥통'</a><br/>
		<a href="http://www.dalmutionline.com">달무티온라인</a><br/>
		</p>
		<p>
		<b>와플 출신들의 활약</b><br/>
		<a href="https://www.klassmate.com">클래스메이트</a><br/>
		</p>
		</p>

		<p>
		<h3>* 와플스튜디오 언론 보도 모음</h3>
		<p>
		<b>한국일보</b><br/>
		<a href="http://news.hankooki.com/ArticleView/ArticleView.php?url=society%2F201112%2Fh2011122320570421950.htm&ver=v002">"10.26 재보궐 선거일 디도스 공격 민주주의 위협 범죄... 진상 밝혀라" (2011-12-23)</a><br/>
		<a href="http://news.hankooki.com/lpage/society/201202/h2012022702374821950.htm">"총선 후보 정보, 우리가 만든 지도에 쫙~" (2012-02-27)</a><br/>
		</p>
		<p>
		<b>조선일보 탑클래스</b><br/>
		<a href="http://topclass.chosun.com/board/view.asp?tnu=201202100001&catecode=L&cPage=1">"서울대 웹서비스 제작 동아리 '와플스튜디오'" (2012-2월호)</a><br/>
		</p>
		<p>		
		<b>동아일보</b><br/>
		<a href="http://news.donga.com/Society/New/3/03/20110315/35603123/1">서울대 컴퓨터 동아리 '와플스튜디오' SNUEV사이트 화제 (2011-03-16)</a><br/>
		<a href="http://news.donga.com/Society/New/3/03/20110309/35440023/1">서울대 '통화불통 사건'알고보니... (2011-03-09)</a>
		</p>
		<p>
		<b>한국경제</b><br/>
		<a href="http://www.hankyung.com/news/app/newsview.php?aid=2010061014291">삼성 등 IT 업체, 서울대 '앱'대회 출동 (2010-06-10)</a>
		</p>
		<p>
		<b>대학내일</b><br/>
		<a href="http://www.naeilshot.co.kr/inter_view2.asp?id=interview_me&mode=view&idx=207&page=4">Web & App 만드는 능력자들의 놀이터 대학생 웹, 앱 개발 동아리 '와플스튜디오' (2010-04-26)</a>
		</p>
		</p>
	</div>

<%# if true %>
<% if false %>
<div class="box">
	<h3>지원서 작성하기</h3>
	<i>지원 기간 이후 개별적으로 결과가 문자로 통보됩니다</i>
	  <div class="new_recruit">
	    <%= link_to '지원서 작성하기', new_recruit_path %>
	  </div>

	  <h3>지원서 수정</h3>
	  <% unless flash[:error].nil? %>
	    <div class="login-failed"><%= flash[:error] %></div>
	  <% end %>
	  <%= form_tag authorize_recruit_index_path do %>
	    <div class="fm-req">
	      <%= label_tag 'id', '이메일: ' %>
	    <%= text_field_tag 'id', '', {:placeholder => 'Email', :tabindex => 1} %><br />
	    <%= label_tag 'password', '비밀번호:' %>
	    <%= password_field_tag 'password', '', {:placeholder => 'password', :tabindex => 2} %>
	    </div>
	    <div id="fm-submit" class="fm-req">
	    <%= submit_tag 'login' %>
	    </div>
	  <% end %>
		<h3>지원기간</h3>
	<span style="color: red">수요일 12시에 똻 지원 끝</span>
	<p>
	2012. 03. 07 ~ 2012. 03. 21
	</p>
	</div>
</div>
<% else %>
<div class="box">
	<h3>지원서 조회하기</h3>
	<i>개별적으로 결과가 문자로 통보됩니다. 조금만 기다려주세요.</i>

	  <h3>지원서 조회</h3>
	  <% unless flash[:error].nil? %>
	    <div class="login-failed"><%= flash[:error] %></div>
	  <% end %>
	  <%= form_tag authorize_recruit_index_path do %>
	    <div class="fm-req">
	      <%= label_tag 'id', '이메일: ' %>
	    <%= text_field_tag 'id', '', {:placeholder => 'Email', :tabindex => 1} %><br />
	    <%= label_tag 'password', '비밀번호:' %>
	    <%= password_field_tag 'password', '', {:placeholder => 'password', :tabindex => 2} %>
	    </div>
	    <div id="fm-submit" class="fm-req">
	    <%= submit_tag 'login' %>
	    </div>
	  <% end %>
		<h3>지원기간</h3>
	<span style="color: red">지원이 마감되었습니다.<br />리크루팅은 tantara@wafflestudio.com으로 문의해주세요~</p>
	<p>
	2012. 03. 07 ~ 2012. 03. 21
	</p>
	</div>
</div>
<% end %>
