<h1>New Question</h1>
<%= form_for([:admin, @question]) do |f| %>
<div class="table">
  <table class="listing" cellpadding="0" cellspacing="0">
    <tr>
      <th>Title</th><td><%=f.text_field :title %></td>
    </tr>
    <tr>
      <th>Type</th><td><%=f.select :question_type, Question.type_select_options%></td>
    </tr>
    <tr>
      <th>Items(개행이나 세미콜론구분)</th><td><%=f.text_area :items %></td>
    </tr>
    <tr>
      <th>order</th><td><%=f.text_field :order %></td>
    </tr>
 </table>
  <%= f.submit 'Create' %>
</div>
<% end %>
<%= link_to 'Back', admin_questions_path%>


