<h1>Listing Applicants(총 <%= Applicant.where(:order => 8).count %>명)</h1>
<div class="table">
  <table class="listing" cellpadding="0" cellspacing="0">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>지원분야</th>
      <th>소속</th>
      <th>핸드폰</th>
      <th>Email</th>
<!--      <th>Created At</th> -->
<!--      <th>Updated At</th> -->
    </tr>

    <% @applicants.each_with_index do |applicant, i| -%>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= link_to(applicant.name, admin_applicant_path(applicant)) %></td>
      <td><%= @questions.last.items[applicant.answers.last.content.to_i] %></td>
      <td><%= applicant.organization %></td>
      <td><%= applicant.phone %></td>
      <td><%= applicant.email %></td>
<!--      <td><%= applicant.created_at.strftime("%D") %></td> -->
<!--      <td><%= applicant.updated_at.strftime("%D") %></td> -->
    </tr>
    <% end -%>
  </table>
</div>

<%= will_paginate @applicants %>
